<html>

<head>
    <title>{% block title %}Jack's Track App{% endblock %}</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
    <!-- Graphs js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Jack's Track</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'meets' %}">Meets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user_list' %}">Athletes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'events' %}">Events</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse text-right" id="navbarSupportedContent">
            {% if request.user.is_authenticated %}
            <ul class="navbar-nav">
                <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' request.user.id %}">Welcome, {{ request.user }}</a>
                </li>
                <li class="navbar-item">
                    <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
                </li>
            </ul>
            {% endif %}&nbsp;&nbsp;
            <form class="form-inline my-2 my-lg-0 " action="/user_list">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
            </form>
        </div>
    </nav>
    <div class="container">
        {% block body %}
        {% endblock %}
    </div>
</body>

</html>