{% extends 'layout.html' %}

{% block body %}


<h3 class="mt-3">{{meet.description}} on {{meet.date}}</h3>

<div class="float-right mb-3">
    <a href="{% url 'merge_meet' meet.id %}" class="btn btn-primary btn-sm">Merge Meet</a>
</div>

<h4>{{ athletes|length }} athletes competed {{ results.count }} times.</h4>

<canvas id="myChart" width="100" height="25"></canvas>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [{% for event, results in results_by_event.items %}'{{ event.name }}',{% endfor %}],
        datasets: [{
            label: '# of Results',
            data: [{% for event, results in results_by_event.items %}'{{ results|length }}',{% endfor %}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            xAxes: [{maxBarThickness: 25}],
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>


{% for event, event_results in results_by_event.items %}
    <h4>{{ event.name }}</h4>
    <table class="table table-striped">
        <th>Athlete</th>
        <th>Result</th>
    
        {% for result in event_results %}
            <tr>
                <td>
                    <a href="{% url 'profile' result.athlete.id %}"> {{result.athlete.get_full_name}}</a>
                </td>
                <td>
                    {{result.formatted_result}}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endfor %}


{% endblock %}

